.background{
    background: linear-gradient(90deg, #616d71,#393d42) !important;
}
a{
    text-decoration: none;
    background: transparent;
}
.uk-background-cover{
    border: 1px solid #e04f5f;
}
.uk-h4{
    margin-top: 200px;
}