<!-- <p>robemex-projects works!</p> -->
<div class="background">
  <div class="container mt-5 pt-5" >
    <div class="row mx-auto my-auto justify-content-center mt-2 pt-5">
      <h3 class="fw-bold text-white text-center" style="font-size: xx-large;">ROBEMEX's Projects</h3>
    </div>
    <hr>
    <div class="row mx-auto my-auto justify-content-center mt-5 pt-5">
      <div class="col-sm-4 mb-2 mt-2">
        <a href="https://robemex.com" target="_blank">
          <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../../../assets/images/company/products/robemex/robemex.png');">
            <p class="uk-h4 text-center text-white"><strong>ROBEMEX</strong></p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-2 mt-2">
        <a href="https://mexizcal.com" target="_blank">
          <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../../../assets/images/company/products/robemex/mexizcal.png');">
            <p class="uk-h4 text-center text-white"><strong>Mexizcal</strong></p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-2 mt-2">
        <a href="https://rompopecarmelita.com" target="_blank">
          <div class="uk-background-cover img-fluid uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../../../assets/images/company/products/robemex/carmelita-español.png'); background-size: 70%; background-position-y: -20%;">
            <p class="uk-h4 text-center text-white" style="margin-top: 250px;" ><strong >Rompope Carmelita Spanish Version</strong></p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-2 mt-2">
        <a href="https://usa.rompopecarmelita.com" target="_blank">
          <div class="uk-background-cover img-fluid uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../../../assets/images/company/products/robemex/carmelita-english.png'); background-size: 70%;">
            <p class="uk-h4 text-center text-white" style="margin-top: 250px;" ><strong >Rompope Carmelita English Version</strong></p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-2 mt-2">
        <a href="http://rompopedelaabuela.com/" target="_blank">
          <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../../../assets/images/company/products/robemex/rompope-de-la-abuela.png');  background-size: 70%;">
            <p class="uk-h4 text-center text-white">Rompope de la Abuela</p>
          </div>
        </a>
      </div>
      

    </div>
  </div>
</div>
