<!-- <p>company-home works!</p> -->
<div class="container mt-5 pt-5">
    <div class="columns">
        <div class="column">
            <div class="background">
              <div class="card" style="background-color: linear-gradient(90deg, #616d71,#393d42) !important;">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="../../../../assets/images/company/logos/robemex.png" alt="ROBEMEX's logo">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">ROBEMEX</p>
                    </div>
                  </div>
              
                  <div class="content">
                    <a mat-button  [routerLink]="['/companies/robemex']">See all the projects</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>