<!-- <p>company-home works!</p> -->
<div class="background">
  <div class="container mt-5 pt-5">
    <div class="row mx-auto my-auto justify-content-center mt-5 pt-5">
      <div class="col-sm-4 mb-2 mt-2">
        <a [routerLink]="['/companies/projects/robemex']">
          <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../../../assets/images/company/logos/robemex.png');">
            <p class="uk-h4 text-center text-white">ROBEMEX</p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-2 mt-2">
        <a [routerLink]="['/companies/projects/rnet']">
          <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../../../assets/images/company/logos/rnet.png');">
            <p class="uk-h4 text-center text-white">rNet</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
